@model CalcModel
@{
    ViewBag.Title = "Калькулятор";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title {
Простой Калькулятор (секция Title)
}
<p>@ViewBag.FrNum @ViewBag.oper @ViewBag.SecNum @ViewBag.equals @ViewBag.res</p>







<h1>Dubler</h1>

